# Creates Pivotal Tracker git commit comment
snippet tp
	${1:commit subject here}

	${2:commit description here}

	[#${3:}]
	https://www.pivotaltracker.com/story/show/$3

snippet tpf
	${1:commit subject here}

	${2:commit description here}

	[${3:Finishes} #${4:}]
	https://www.pivotaltracker.com/story/show/$4
