snippet guard
	if exists('${1:did_`expand('%:t:r')`}') || &cp
		finish
	endif
	let $1 = 1${2}
snippet f
	fun ${1:function_name}(${2})
		${3:" code}
	endf
snippet for
	for ${1:needle} in ${2:haystack}
		${3:" code}
	endfor
snippet wh
	wh ${1:condition}
		${2:" code}
	endw
snippet if
	if ${1:condition}
		${2:" code}
	endif
snippet ife
	if ${1:condition}
		${2}
	else
		${3}
	endif
