/* stupid -webkit-transition bug, needs split for multiple transitions */
-webkit-transition-property: ${1:background-color, shadow}; 
-webkit-transition-duration:${2:.25s, .25s}; 
-webkit-transition-timing-function: ${3:linear, linear};
${4:-webkit-transition-delay: .25s, .25s;}
