background: -webkit-gradient(linear, left top, left bottom, from(${1:#333}), to(${2:#666}));
background: -moz-linear-gradient(top, $1, $2);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='$1', endColorstr='$2');
