'use strict';

var ${1:ClassName},
		__bind = function(fn, me){return function(){return fn.apply(me, arguments); }; };

module.exports = ${1} = (function() {

	function ${1}() {
		${2://stuff};
	};

	${1}.prototype.index = function() {
	};

	return ${1};
})();
